@import "./../abstract/color-variables.css";
@import "./../abstract/typography-variable.css";

html,
body,
p,
h1 {
  margin: var(--margin-zero);
  text-align: center;
}

/* Select Elements */
select {
  font-size: 1rem;
}

select option {
  font-size: 1rem;
}

/* NAVBAR Section */
.navbar p {
  color: var(--secondary-text-color);
  font-family: Montserrat-BoldBlack;
}

.grid-navbar-container__navbar__right p,
.grid-navbar-container__navbar__right small {
  color: var(--tertiary-text-color);
}

/* ANALYTICS Header */
.analytic-ul {
  font-family: Montserrat-Regular;
  font-size: 1.1rem;
  font-weight: bold;
}

.analytic-ul ul li p {
  font-family: Montserrat-BoldBlack;
}

.analytics-ul__nok {
  font-weight: 100;
}

/* Graph Menu */

.graph-menu-ul {
  font-family: Montserrat-SemiBold;
}

.graph-menu-ul__li__active {
  color: var(--quaternary-color);
  font-weight: bold;
}

.graph-menu-ul li {
  color: var(--secondary-text-color);
}

/* Graph Doughnut */

.graph-doughnut__h1 {
  font-size: 1.5rem;
}

.graph-doughnut__p {
  font-family: 'Montserrat-ExtraBold';
}