.analytics-tops {
    background: var(--analytics-background-color);
    grid-area: analytics-tops;
}

.analytics-bottom {
    background: var(--analytics-background-color);
    grid-area: analytics-bottom;
}


    


