@import './../abstract/color-variables.css';

.dropdown-window {
    background: var(--analytics-background-color);
    border-radius: 10px;
    grid-area: dropdown-window;
}
.dropdown-ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: var(--secondary-text-color);
}

.dropdown-ul li {
    align-self: baseline;
}

.dropdown-ul__text {
    font-size: 1.1rem;
}

.dropdown-ul--font {
    color: var(--tertiary-color);
    font-weight: bold;
}

.dropdown-ul__select {
    font-size: 1.1rem;
}