@import "./../abstract/color-variables.css";

.graph-doughnut {
  background: var(--analytics-background-color);
  grid-area: graph-doughnut;
  border-radius: 10px;
  padding-top: 2.5rem;
}

.latest-signups {
  background: var(--analytics-background-color);
  grid-area: latest-signups;
}

.graph-doughnut__h1 {
  position: absolute;
  top: 23rem;
  right: 6rem;
  color: var(--secondary-text-color);
  text-align: right;
  padding-right: 2rem;
}

.graph-doughnut__p {
  position: absolute;
  top: 29rem;
  right: 28rem;
  font-size: 4rem;
  color: var(--primary-text-color);

}
