@import './../abstract/color-variables.css';

.graph-menu {
    background: var(--main-background-color);
    color: var(--primary-text-color);
    grid-area: graph-menu;
    border-bottom: 1px solid var(--primary-text-color);
}

.graph-menu-ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    padding-bottom:5px;
}

.graph-menu-ul li:nth-child(1) {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 2rem;
}

.graph-menu-ul__li__active {
    color: var(--primary-color);
}

.graph-menu-ul li {
    padding: 0 2rem;
    color: var(--secondary-text-color);

}

.graph-individuals {
    background: teal;
    grid-area: graph-individuals;
}

.graph-companies {
    background: purple;
    grid-area: graph-companies;
}