@import './../abstract/color-variables.css';

.total-sign-ups {
    background: var(--analytics-background-color);
    grid-area: total-sign-ups;
}

.latest-signups {
    background: green;
    grid-area: latest-signups;
}
